html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #181818, #1f1f1f 50%, #181818);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}
